@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(/scloud_assets/Ubuntu.woff2) format('woff2');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/scloud_assets/UbuntuMono.woff2) format('woff2');
}

html, body {
  font-size: large;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
}
pre, kbd{
  font-family: 'Ubuntu Mono', monospace;
}

.date_header, .date, .weekday, .together, .person {
  border:  1px solid black;
}
.date_header, .together, .person {
  text-align: center;
}
.date {
  text-align: right;
}
.weekday {
  text-align: left;
}
.person {
  width: 32em;
}

#headerTable {
  width: 100%;
  padding: 10px;
}
.r {
  text-align: right;
}

#planTable{
  width: 100%;
}

#img {
  padding: 10px;
  width:  100%;
  height:  10em;
  text-align: center;
}
#img img {
  height: 100%;
}