@page {
  size: A4 landscape;
  vertical-align: bottom;
}

#headerTable, .noPrint, .together, button {
  display: none !important;
}

.date_header, .date, .weekday, .together, .person {
  padding: 2px;
}

body {
  padding: 2px;
  /*position: absolute;
  bottom: 10px;*/
}

.date_header { width: 20%; }
.date        { width: 10%; }
.weekday     { width: 10%; }
.person      { width: 40%; }

#img {
  object-fit: scale-down;
}

#img {
  height:  10em;
}
