<!doctype html>
<html>
<head>
  <title>żarcioplaner</title>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/json-api-store.prod.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <link rel="icon" type="image/png" href="/static/dish.png">
</head>
<body>
  <table id="headerTable">
    <tr>
      <td class="l">
        <h1>
          <img src="/static/dish.png" height="64px" />
          <b>żarcioplaner</b>
        </h1>
      </td>
  </table>

  <button type='button' class='btn-for-writer btn btn-success' onClick='editPlan(-1)'>Add plan</button>
  <br />
  <ul id="plansList">

  </ul>

  <div class="modal" tabindex="-1" role="dialog" id="editPlan">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="modal-title">Edit plan</h2>
        </div>
        <div class="modal-body">
          <table>
          <tr>
          <td>        
            <table class="editPlanTable">
              <tr><td class="editTableFieldName">plan #</td> <td id="editPlanIDField"><span></span></td></tr>
              <tr><td class="editTableFieldName">start</td>  <td id="editPlanStartField"><input type="number" min="20220000" max="212200" /></tr>
              <tr><td class="editTableFieldName">end</td>    <td id="editPlanEndField"><input type="number" min="20220000" max="212200" /></tr>
              <tr><td class="editTableFieldName">notes</td>  <td id="editPlanNotesField"><textarea rows="2" cols="30"></textarea></tr> 
            </table>
          </td>
          </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-for-writer btn btn-primary" onClick="savePlan()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
  var adapter = new Store.AjaxAdapter({ base: "/api" });
  var store = new Store(adapter);

  function formatDate(raw){
    var raw_str=`${raw}`;
    if (raw_str.length!=8) return "????-??-??";
    return ""+raw_str.substr(0,4)+"-"+raw_str.substr(4,2)+"-"+raw_str.substr(6,2);
  }

  function editPlan(id){
    if (id<0 || id=="new"){
        $("#editPlanIDField     span").html("new")
        $("#editPlanIDField     input").val("")
        $("#editPlanStartField  input").val("")
        $("#editPlanEndField    input").val("")
        $("#editPlanNotesField  textarea").val("")

        $("#editPlan").modal()
    }
    else {
      store.load("Plan",id,{ include: "" }).subscribe(function (plan) {
        $("#editPlanIDField     span").html(plan.id)
        $("#editPlanIDField     input").val(plan.id)
        $("#editPlanStartField  input").val(plan.start)
        $("#editPlanEndField    input").val(plan.end)
        $("#editPlanNotesField  textarea").val(plan.notes)

        $("#editPlan").modal()
      });
    }
  }
  function savePlan(){
    var planID=$("#editPlanIDField  span").html();
    var planFromEditor={
      start:  $("#editPlanStartField  input").val(),
      end:    $("#editPlanEndField    input").val(),
      notes:  $("#editPlanNotesField  input").val(),
    };

    if (planFromEditor.start.match(/\d+$/) == null) { alert("Wrong start date"); return false; }
    if (planFromEditor.start<20220101 || planFromEditor.start>21221231) { alert("Wrong start date"); return false; }
    if (planFromEditor.end.match(/\d+$/)   == null) { alert("Wrong end date");   return false; }
    if (planFromEditor.end<20220101 || planFromEditor.end>21221231) { alert("Wrong end date"); return false; }

    if (planID<0 || planID=="new"){
      store.create("Plan", planFromEditor).subscribe(function (plan) {
        $("#editPlanIDField  span").html(plan.id)
        editPlan(plan.id)
        alert("Created plan #"+plan.id)
        loadPlans()
      });      
    }
    else {
      store.update("Plan", planID, planFromEditor).subscribe(function (plan) {
        editPlan(plan.id)
        alert("Saved plan #"+plan.id)
        loadPlans()
      });      
    }
  }

  function loadPlans(){
    $("#plansList").html("");
    store.loadAll(
      "Plan", 
      { include: "" }
    ).subscribe(function (Plans) {
      $.each( Plans, function( idx, plan ) {
        var start = formatDate(plan.start)
        var end   = formatDate(plan.end)
        $("#plansList").append(
          `<li>`+
            `<a href="/plan/${plan.id}">${start} - ${end} (plan #${plan.id})</a>`+
            `&nbsp;`+
            `<button type='button' class='btn-for-writer btn btn-info btn-sm' onClick='editPlan(${plan.id})'>edit</button>`+
          `</li>`
        );
      });
    });
  }

  function checkAuth(){
    // TODO: this should check headers from authelia in future
    return;
    $.getJSON('/auth_check', function(data) { 
      if (data.upn!="anonymous"){
        $("#upn").text(data.upn)
        $("#loginbtn").hide()
        console.log(data)
      }
      else {
        $("#logoutbtn").hide()
      }

      if (!data.writer){
        $(".btn-for-writer").each(function(){
          $(this).attr('disabled', 'disabled');
        })
      }
    }); 
  }

  $(function() {
    checkAuth()
    loadPlans()
  });

  store.define([ "Plan" ], {
    start: Store.attr(),
    end:   Store.attr(),
    notes: Store.attr(),
  });

  store.observable.subscribe(function (event) {
    //console.log(event.name, event.type, event.id, event.resource);
  });
</script>
</body>
</html>
